.eyes-heading {
    margin-bottom: 50px;
    font-weight: 500;
    text-align: center;
    font-size: 45px;
}

.eyes-card {
    margin: 10px;
    padding: 20px;
    width: 50%;
    height: 50%;
}

.eyes-select {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #ced4da;
    margin-right: 10px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(249, 251, 252, 0.25);
}

.eyes-list {
    margin-top: 20px;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.card-img-top {
   transition: all 1s linear;
}

.img-container:hover .card-img-top{
   transform: scale(1.2);
}