.eyes-heading {
    margin-bottom: 50px;
    font-weight: 500;
    text-align: center;
    font-size: 45px;
}

.eyes-select {
    display: inline-block;
    width: 10%;   
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #ced4da;
    margin-right: 10px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(249, 251, 252, 0.25);
}

.eyes-list {
    margin-top: 20px;
}