.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 50px;
}

.footer-input {
    color: #495057;
    background-color: transparent;
    border: 1px solid #ced4da;
    border-radius: 5px;
    display: block;
    padding: 15px;
    margin-bottom: 15px;
    width: 60%;
}

.footer-btn {
        padding: 10px;
        border: 1px #dddada solid;
        color: #ffffff;
}

.footer-btn:hover {
    color: #ffffff;
}

.footer-a {
    color: #ffffff;
    font-size: 12px;
}

.footer-a:hover {
    color: #dddada;
    text-decoration: none;
}

.footer-a1 {
    color: #ffffff;
}

.footer-a1:hover {
    color: #dddada;
    text-decoration: none;
}

.footer-p {
    color: #ced4da;
}

.footer-row {
    margin-bottom: 50px;
}

.footer-hr {
    border-top: 1px solid #ced4;
}

.copy {
    text-align: center;
}