.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-img {
    margin-top: 10px;
    width: 400px;
    height: 300px;
}

.modal-row{
    margin-top: 20px;
}

#modal {
    background: #ffffff;
}